{% extends "home.html" %}
{% block serch %}
    <div class="container mx-auto px-4 py-8">
    <!-- Search Form -->
        <form method="GET" class="mb-8">
            <div class="flex md:items-center max-md:flex-col max-md:items-center bg-blue-600 px-8 py-4 gap-4">
                <div class="mx-auto my-8" > 
                    <input class="min-w-[500px] rounded-sm py-3 px-6 w-1/2" type="text" name="q" value="{{ search_query }}" placeholder="Search events name or location">
                    <button type="submit" class="bg-white text-blue-500 font-semibold py-3.5 px-6 rounded-sm text-sm hover:bg-slate-100 transition-colors">Search</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}